.LHC{
    top: 102px;
    left: 10px;
    width: 202px;
    height: 178px;
    resize: none;
}

.LHC .container {
    width: 100%;
    padding: 2px 0 0 0;
    width: calc(100% - 2px);
}

.LHC .dockingPanelTitle {
    cursor: auto;
}

.LHC .list-group-item {
    width: calc(100% - 20px);
    height: 4px;
    line-height: 0.3;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 2px;
    padding-right: 2px;
    background-color: #E8E8E8;
    border: 1px solid #000;
    cursor: pointer;
}

.LHC .list-group-item:hover {
    background-color: #5BC0DE;
}